* {
    box-sizing: border-box;
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
}
a {
    text-decoration: none;
}
ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
.menu {
position: fixed;
top: 0;
left: 0;
height: 100%;
width: 30px;
background-color: gray;
overflow: hidden;
transition: width 0.3s ease;
z-index: 2;
}
.menu:hover {
  width: 250px;
}
.menu-label {
  position: absolute;
  top: 50%;
  left: 0;
  transform: rotate(90deg) translateY(-100%);
  transform-origin: left top;
  color: white;
  font-size: 22px;
  white-space: nowrap;
  transition: opacity 0.3s ease;
  padding-right: 40px;
}
.menu:hover .menu-label {
  opacity: 0;
}
.menu-content {
  opacity: 0;
  padding: 80px 20px 20px;
  transition: opacity 0.3s ease 0.1s;
}
.menu:hover .menu-content {
  opacity: 1;
}
.menu-item {
  margin-bottom: 20px;
}
.menu-link {
  color: white;
  font-size: 18px;
}
.menu-link:hover {
  color: rgb(217, 155, 39);
}
.menu-item::before {
  content: "\1F538";
  font-size: 22px;
  color: orange;
}
  